html{
    box-sizing: border-box;
    // font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}

body {
    > h1 {
        text-align: center;
        margin: 1rem auto 2rem;
    }
}

.wrapper {
    margin: 0 auto;
    width: Min(98%, 700px);

}

.row {
    display: flex;
    justify-content: space-around;
}

.btn {
    outline: none;
    border: none;
    background: rgb(218, 165, 165);
    border-radius: 1em;
    font-size: 1rem;
    padding: .5em;

    &:hover, &:active {
        background: yellowgreen;
    }
    &[disabled] {
        opacity: .4;
        cursor: not-allowed;
    }
}


#result_text {
    // transform: scale(1.5);
    transition: all 2s ease-in-out;
    // animation: test 1s ease-in-out
}
.displayOff { // asta pentru animatia rezultatului ....trebuie sa fac deca cu intarziere ....sa o fac sa dispara dupa ceva timp
    display: none;
}

.winner {
    color: green;
}
.loser {
    color: red;
}

.computer_details {
    // margin-left: auto;
}


@keyframes test {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.5);
    }
}